@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #383838;
    padding: 0;
    margin: 0;
    /* outline: 2px solid lightgreen; */
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 1400px;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #fafafa;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

h2{
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 2px solid #ddd;
}

article.buttons > a,
article.buttons > button{
    border: 2px solid #383838;
    border-radius: 5px;
    padding: 5px 25px;
    color: #fff;
    background-color: #383838;
    font-size: 18px;
    transition: all .4s;
}

article.buttons > a:hover,
article.buttons > button:hover{
    color: #383838;
    background-color: #e2e2e2;
}

article.block-info{
    display: flex;
    flex-direction: column;
}

option:nth-child(1){
    display: none;
}