@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #383838;
    padding: 0;
    margin: 0;
    font-weight: 100;
    /* outline: 2px solid lightgreen; */
}

html {
    scroll-behavior: smooth;
    opacity: 1;
    transition: all 2s;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 25px;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    width: auto;
    flex-direction: column;
    background-color: #fafafa;
    /* background: url('./img/wallhaven-exrqrr.jpg') no-repeat center; */
}

.hidden{
    visibility: hidden;
    transition: all .4s;
}

header{
    display: flex;
    width: 500px;
    /* width: 100%; */
    /* height: 100px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

header > a{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #383838;
    font-weight: 500;
    /* line-height: 1.1; */
    font-size: 30px;
    /* font-weight: 700; */
    transition: all .4s;
}

header > a:hover{
    text-decoration: none;
    color: #004673;
}

header > a > img{
    width: 85px;
    /* height: 50px; */
}

ol{
    display: none;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

li{
    border: 2px solid #383838;
    list-style-position: inside;
    list-style: none;
    padding: 5px 18px;
    border-radius: 5px;
    /* cursor: pointer; */
    transition: all .4s;
    cursor: default;
}

li.active{
    background-color: #383838;
    padding: 5px 18px;
    color: #fff;
    list-style-position: inside;
    border-radius: 5px;
}

form{
    /* max-width: clamp(300px 100% 550px); */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* background: rgba(255, 255, 255, 0.36); */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

section.block{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 15px 30px;
    opacity: 1;
    transition: all 0.5s;
}

h2{
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 2px solid #ddd;
    width:fit-content;
}

article.buttons{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

article.buttons > a,
article.buttons > button{
    text-align: center;
    border: 2px solid #383838;
    border-radius: 5px;
    padding: 5px 25px;
    color: #fff;
    background-color: #383838;
    font-size: 18px;
    transition: all .4s; 
    width: 50%;
}

section.common-info > article.buttons > a{
    width: 100%;
}

article.buttons > a:hover,
article.buttons > button:hover{
    color: #383838;
    background-color: inherit;
    text-decoration: none;
}

article.block-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article.block-name{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-bottom: 2px solid #ddd; */
}

article.block-name > ion-icon{
    font-size: 30px;
}

option:nth-child(1){
    display: none;
}

label{
    font-weight: 500 !important;
    font-size: 18px;
}

input, select, option, textarea, input.form-control{
    font-size: 18px;
    padding: 15px;
    /* width: clamp(250px 50% 450px); */
    width: 400px;
    border-radius: 8px;
    border: 2px solid #dddddd;
    background-color: inherit;
}

.ui-datepicker-calendar {
    display: none;
}

input.form-control{
    height: 50px;
}

input[type=file]{
    display: none !important;
}

label.photo{
    padding: 15px;
    height: 55px;
    /* width: clamp(250px 50% 450px); */
    width: 400px;
    border-radius: 8px;
    border: 2px solid #dddddd;
    background-color: inherit;
    transition: all .4s;
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: no-repeat center/100%;
}

label.photo:hover{
    /* color: #f7941d; */
    border: 2px solid #f7941d;
    cursor: pointer;
}

select > option{
    font-size: 18px;
    border-radius: 15px;
}

div.years-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.years-block > div > input{
    width: 10vw !important;
}

div.input-block{
    display: flex;
    flex-direction: column;
}

input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

div.checkbox-container{
    display: block;
    position: relative;
    transition: all .4s;
    padding-left: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.checkbox-container > label{
    cursor: pointer;
}

div.checkbox-container > .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 32px;
    width: 32px;
    border: 2px solid #383838;
    border-radius: 8px;
    transition: all .4s;
    background-color: #383838;
}

div.checkbox-container:hover input ~ .checkmark{
    /* background-color: #555555; */
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #383838;
    border: 2px solid #ddd;

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 8px;
    height: 16px;
    border: solid #ddd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ion-icon{
    font-size: 30px;
    margin-right: 5px;
} */

h2 > img{
    margin-right: 10px;
    margin-bottom: 5px;
}